
img.floatRight{
background: #55C2D8;
margin: top 5%;
margin-right: 40%;
margin-bottom: 5%;
margin-left: 40%;
}
h1.letterColor{
text-align: center;
color: #FFFFFF;          
}
.paragraph {
font-size: 24px;
line-height: 32px;
text-align: center;
color: #ffffffb3;
}
